html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: 'Dekar', 'sans-serif';
}

ul {
    list-style-type: none;
}

a {
    color: #000;
}
a:hover, a:focus {
    text-decoration: none;
    color: #333;
}

.artist {
    text-align: center;
    padding: 25px 0;
}

/** HOME */
#home {
    background: url(../images/home.png) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding-top: 50px;
}

#home h1 {
    font-size: 5em;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0 10px #000;
    color: #fff;
}

#home h2 {
    font-size: 4em;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0 10px #000;
    color: #fff;
}

#home .encart {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin: 0 100px;
    opacity: 0.7;
}

#intro {
    background-color: #000000;
    display: table;
    padding: 20px;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    color: #ffffff;
}

.down {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.down a {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0 5px #000;
}

.down a:hover {
    color: #eeeeee;
    text-decoration: none;
}

/** PROG */
#prog {
    background: url(../images/prog.png) no-repeat center center fixed;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
}

#prog a {
    color: #ffffff;
}

#prog a:hover {
    color: #cccccc;
}

#prog article, #prog article a {
    color: #000000;
}

#prog article .close {
    position: absolute;
    right: 7px;
    top: 5px;
}

#durable {
    background: url(../images/durable.jpg) no-repeat center right;
    height: 400px;
}

ul.durable {
    font-size: 1.5em;
}

ul.durable li {
    padding: 15px 0;
}

/** ACCESS */
#access iframe {
    margin-bottom: -7px;
}

footer {
    padding: 20px 0;
    background-color: #111;
}

footer a {
    color: #eeeeee;
}
footer .fa-inverse {
    color: #111111;
}

footer a:hover {
    color: #ccc;
}

footer ul.social li {
    display: inline-block;
}

.ticket .fa-stack-2x {
    transform: rotate(45deg);
}
.ticket .fa-stack-1x {
    color: #ffffff;
    font-size: 25px;
}

#tickets h2 {
    padding: 40px 0;
}

.christmas {
    color: #cc0000;
}

/** RESPONSIVE */

/** Ipad 3/4 */
@media screen and (max-width: 1024px) {
    #home {
        padding-top: 0;
    }
    #home h1 {
        font-size: 4em;
    }
}
/** Nexus 7 */
@media screen and (max-width: 966px) {
    #home h1 {
        font-size: 3em;
    }
    #home h2 {
        font-size: 2em;
    }
    #home .down a {
        font-size: 1em;
    }
}
@media screen and (max-width: 800px) {
    #home .logo {
        width: 330px;
    }
    #home {
        padding-top: 50px;
    }
    #home h1 {
        font-size: 2em;
    }
    #home h2 {
        font-size: 2em;
    }
}
