html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: 'Dekar', 'sans-serif';
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: #000;
}
a:hover, a:focus {
    text-decoration: none;
    color: #333;
}
.btn-x-lg {
    font-size: 25px;
}

.artist {
    text-align: center;
    padding: 25px 0;
}

.fa-external-link {
    font-size: 0.8em;
}

/** NAVBAR */
.navbar-default {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #333;
    border-color: #000;
    border-radius: 0;
    transition: opacity 0.3s;
    opacity: 0;
}

#nav-small a {
    color: #fff;
}

#nav-small li:hover {
    background-color: #666;
}

.navbar-brand {
    padding-top: 5px;
}


/** HOME */
#home {
    background: url(../images/home.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding: 80px 0;
}

#home h1 {
    font-size: 5em;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0 10px #000;
    color: #fff;
}

#home h2 {
    font-size: 4em;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0 10px #000;
    color: #fff;
}

#home .encart {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin: 0 100px;
    opacity: 0.7;
}

#intro {
    background: url(../images/intro.jpg) no-repeat center center fixed;
    display: table;
    padding: 0 10%;
    position: relative;
    width: 100%;
    text-align: justify;
    font-size: 1.3em;
    color: #ffffff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.down {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.down a {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0 5px #000;
}

.down a:hover {
    color: #eeeeee;
    text-decoration: none;
}

/** PROG */
#prog {
    background: url(../images/prog.png) no-repeat center center fixed;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
}

#prog a {
    color: #ffffff;
}

#prog a:hover {
    color: #cccccc;
}

#prog article, #prog article a {
    color: #000000;
}

#durable {
    background: url(../images/durable.jpg) no-repeat center right;
    height: 400px;
}

ul.durable {
    font-size: 1.5em;
}

ul.durable li {
    padding: 15px 0;
}

footer {
    padding: 20px 0;
    background-color: #111;
    height: 550px;
}

footer a {
    color: #eeeeee;
}
footer .fa-inverse {
    color: #111111;
}

footer a:hover {
    color: #ccc;
}

footer a.facebook:hover {
    color: #3b5999;
}

footer a.twitter:hover {
    color: #00aced;
}

footer ul.social li {
    display: inline-block;
}

.ticket {
    height: 90px;
    top: -35px;
}

.ticket .fa-stack-2x {
    color: #ffffff;
    transform: rotate(45deg);
}
.ticket .fa-stack-1x {
    font-size: 25px;
    color: #333333;
}

#tickets td, th {
    text-align: center;
    padding: 30px;
}

#tickets th h2 {
    display: table-cell;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #333333;
    vertical-align: middle;
}

@media screen and (max-width: 1380px) and (min-width: 1200px) {
    #tickets th h2 {
        width: 110px;
        height: 110px;
    }
}

#tickets .price {
    font-size: 2em;
}

#tickets .pricing {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
}

#tickets .after {
    padding-bottom: 130px;
    background-color: #cccccc;
}

#tickets .after:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 0 150px 300px;
    border-style: solid;
    border-color: transparent transparent transparent #6e0006;
}

#tickets .after:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 0 0 150px 300px;
    border-style: solid;
    border-color: transparent transparent #6e0006;
}

table.center {
    margin: 0 auto;
}

.center {
    text-align: center;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #333333;
}

/** RESPONSIVE */

/** Ipad 3/4 */
@media screen and (max-width: 1024px) {
    #home h1 {
        font-size: 4em;
    }
}
/** Nexus 7 */
@media screen and (max-width: 966px) {
    #home h1 {
        font-size: 3em;
    }
    #home h2 {
        font-size: 2em;
    }
    #home .down a {
        font-size: 1em;
    }
}
@media screen and (max-width: 800px) {
    #home .logo {
        width: 330px;
    }
    #home {
        padding-top: 50px;
    }
    #home h1 {
        font-size: 2em;
    }
    #home h2 {
        font-size: 2em;
    }
}
