html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: 'Dekar', 'sans-serif';
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: #000;
}

a.inversed {
    color: #fff;
}

p, address, dl {
    font-size: 1.3em;
    text-align: justify;
}

a:hover, a:focus {
    text-decoration: none;
    color: #333;
}

a.inversed:hover, a.inversed:focus {
    color: #ccc;
}

.btn-x-lg {
    font-size: 25px;
}

.artist {
    font-size: 18px;
    text-align: center;
    padding: 0;
    min-height: 202px;
}

.fa-external-link {
    font-size: 0.8em;
}

/** NAVBAR */
.navbar-default {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #333;
    border-color: #000;
    border-radius: 0;
    transition: opacity 0.3s;
    opacity: 0;
}

#nav-small a {
    color: #fff;
}

#nav-small li:hover {
    background-color: #666;
}

.navbar-brand {
    padding-top: 5px;
}


/** HOME */
#home {
    background: url(../images/home.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding: 80px 0;
}

#home h1 {
    font-size: 5em;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0 10px #000;
    color: #fff;
}

#home h2 {
    font-size: 4em;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0 10px #000;
    color: #fff;
}

#home .encart {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin: 0 100px;
    opacity: 0.7;
}

#intro {
    background: url(../images/intro.jpg) no-repeat center center fixed;
    display: table;
    position: relative;
    width: 100%;
    text-align: justify;
    color: #ffffff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home .logo {
    padding: 85px 0;
}

.down {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.down a {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0 5px #000;
}

.down a:hover {
    color: #eeeeee;
    text-decoration: none;
}

/** PROG */
#prog {
    background: url(../images/prog.png) no-repeat center center fixed;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
}

#prog a {
    color: #ffffff;
}

#prog a:hover {
    color: #cccccc;
}

#prog article, #prog article a {
    color: #000000;
}

@media screen and (min-width: 992px) {
    #prog {
        padding-bottom: 10px;
    }
    #prog .row > div:not(:first-child){
        border-left: 1px solid #aaaaaa;
    }
}

.ticket {
    height: 90px;
    top: -35px;
}

.ticket .fa-stack-2x {
    color: #ffffff;
    transform: rotate(45deg);
}
.ticket .fa-stack-1x {
    font-size: 25px;
    color: #333333;
}

#tickets td, th {
    text-align: center;
    padding: 30px;
}

#tickets th h2 {
    display: table-cell;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #333333;
    vertical-align: middle;
}

@media screen and (max-width: 1380px) and (min-width: 1200px) {
    #tickets th h2 {
        width: 110px;
        height: 110px;
    }
}

#tickets .price {
    font-size: 2em;
}

#tickets .pricing {
    background: url(../images/pricing.png) no-repeat center center fixed;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
}

#tickets .after {
    padding-bottom: 130px;
    background-color: #cccccc;
}

#tickets .after:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 0 150px 300px;
    border-style: solid;
    border-color: transparent transparent transparent #6e0006;
}

#tickets .after:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 0 0 150px 300px;
    border-style: solid;
    border-color: transparent transparent #6e0006;
}

#access {
    background: url(../images/prog.png) no-repeat center center fixed;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
}
#access .map {
    height: 300px;
}

table.center {
    margin: 0 auto;
}

.center {
    text-align: center;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #333333;
}

footer {
    padding: 20px 0;
    background-color: #ffffff;
    min-height: 550px;
}

footer a {
    color: #111111;
}
footer .fa-inverse {
    color: #eeeeee;
}

footer a:hover {
    color: #444444;
}

footer a.facebook:hover {
    color: #3b5999;
}

footer a.twitter:hover {
    color: #00aced;
}

footer a.youtube:hover {
    color: #bb0000;
}

footer a.instagram:hover {
    color: #517fa4;
}

footer ul.social li {
    display: inline-block;
}

@media screen and (min-width: 1024px) {
    footer ul.social li {
        display: block;
    }

    footer ul.social {
        position: fixed;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: .3;
        transition: opacity ease .3s;
    }

    footer ul.social:hover {
        opacity: 1;
    }
}

.partnership a img {
    transition: all ease .3s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5;
}

.partnership a:hover img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}

.tickets-shortcut {
    transition: width ease .5s;
    position: fixed;
    z-index: 1;
    bottom: 10px;
    left: 10px;
    width: 300px;
}

.tickets-shortcut.small {
    width: 250px;
}

.tickets-shortcut img {
    overflow: hidden;
    transition: transform ease-in .1s;
}

.tickets-shortcut img:hover {
    transform: rotate(5deg);
}

.push-top {
    padding-top: 10px;
}

/** RESPONSIVE */

/** Ipad 3/4 */
@media screen and (max-width: 1024px) {
    #home h1 {
        font-size: 4em;
    }
}
/** Nexus 7 */
@media screen and (max-width: 966px) {
    #home h1 {
        font-size: 3em;
    }
    #home h2 {
        font-size: 2em;
    }
    #home .down a {
        font-size: 1em;
    }
}
@media screen and (max-width: 800px) {
    #home .logo {
        width: 330px;
    }
    #home {
        padding-top: 50px;
    }
    #home h1 {
        font-size: 2em;
    }
    #home h2 {
        font-size: 2em;
    }
}
