// Grunge
@font-face {
  font-family: "destroy";
  src: url('fonts/destroy.ttf');
}

@font-face {
  font-family: "bearpaw";
  src: url('fonts/bearpaw.ttf');
}

// Serif
@font-face {
  font-family: "cinzel";
  src: url('fonts/Cinzel-Regular.otf');
}

// Variables
@color1: #fff;
@color2: #111;
@color3: #f00;

// Styles
body {
  background-color: @color2;
  color: @color1;
}

a {
  color: darken(@color3, 10%);
  &:hover {
    color: darken(@color3, 5%);
    text-decoration: none;
  }
}

.header {
  text-align: center;
  padding: 40px 0;
  border-bottom: 1px solid #333;
  h1 {
    font-family: bearpaw;
    font-size: 40em;
    margin: -75px 0;
    .highlight {
      color: darken(@color3, 15%);
    }
  }
  h2 {
    font-family: cinzel;
    font-size: 8em;
  }
  .subtitle {
    font-family: cinzel;
    font-size: 1.3em;
  }
}

.intro {
  font-family: cinzel;
  text-align: center;
  font-size: 1.2em;
  padding: 40px 0;
  border-bottom: 1px solid #333;
}

.partnerships {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline;
    padding: 0 10px;
  }
}

@media screen and (max-width: 981px) {
  .header h1 {
    font-size: 30em;
  }
}
