<div class="col-xs-6 col-sm-3 col-md-4 col-lg-2 artist stage-{{ artist.stage | slugify }}">
    <a href="#{{ artist.name | slugify }}" data-toggle="modal">
        <img src="images/artists/{{ artist.name | slugify }}.jpg" alt="{{ artist.name }}" width="110" height="110" /><br />
        {{ artist.name }}
    </a>
</div>

<article id="{{ artist.name | slugify }}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">{{ artist.name }}</h2>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="images/artists/{{ artist.name | slugify }}.jpg" alt="{{ artist.name }}" />
                    </div>
                    <div class="col-md-9">
                        <h3>{{ artist.genres }}</h3>
                        <p>
                            {% for link in artist.www %}
                            <a href="{{ link.url }}" title="{{ link.label }}" target="_blank"><i class="fa fa-{{ link.icon }}"></i> {{ link.label }}</a><br />
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <p>{{ artist.content}}</p>
            </div>

        </div>
    </div>
</article>
