<div id="access">
    <div class="container">
        <h1 align="center">Localisation</h1>
        <div class="map"></div>
        <div class="row push-top">
            <div class="col-lg-6">
                <p>Le <b>2440 Festival</b> : 3 scènes, 1 châpiteau et 1 dôme géant.</p>

                <address>
                    La Trocardière<br />
                    101, rue de la Trocardière<br />
                    44400 Rezé<br />
                    Contact Ghetto Art : 06.52.76.16.64
                </address>
            </div>
            <div class="col-lg-6">
                <dl>
                    <dt>Tram</dt> <dd>arrêt Trocardière (ligne 3)</dd>
                    <dt>GPS</dt> <dd>47.1814, -1.572247</dd>
                </dl>
            </div>
            <div class="col-lg-12 center">
                <p>
                    Le 15 & 16 mai 2015,<br />
                    de 19h à 2h le vendredi et de 18h à 2h le samedi, after au Remorqueur jusqu'à 6h, restauration possible sur place.
                </p>
            </div>
        </div>
    </div>
</div>
