<div id="access">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h1>Localisation</h1>
                <p>Le <b>2440 Festival</b> aura lieu à l'intérieur et aux alentours de la salle de la Trocardière sous chapiteaux.</p>

                <h3>Adresse</h3>
                <address>
                    La Trocardière<br />
                    101, rue de la Trocardière<br />
                    44400 Rezé
                </address>

                <dl>
                    <dt>Tram</dt> <dd>arrêt Trocardière (ligne 3)</dd>
                    <dt>GPS</dt> <dd>47.1814, -1.572247</dd>
                </dl>
            </div>
            <div class="col-md-6 map">
            </div>
        </div>
    </div>
</div>
