<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" id="durable">&nbsp;</div>
            <div class="col-md-6">
                <h2>La charte durable du festival c'est</h2>
                <ul class="durable">
                    <li><i class="fa fa-fw fa-2x fa-female"></i> Des toilettes sèches</li>
                    <li><i class="fa fa-fw fa-2x fa-trash"></i> Des poubelles de tri sélectif</li>
                    <li><i class="fa fa-fw fa-2x fa-glass"></i> Des éco-cups</li>
                    <li><i class="fa fa-fw fa-2x fa-car"></i> Pensez au <a href="#">covoiturage</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
