<footer>
    <div class="container">
        <div class="row">
            <ul class="social">
                <li>
                    <a href="mailto:mayliss@ghetto-art-asso.com" target="_blank">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="facebook" href="https://www.facebook.com/2440festival" target="_blank">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="twitter" href="https://twitter.com/2440Festival" target="_blank">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="youtube" href="https://www.youtube.com/channel/UC9ovWD9FyTKA2D-fT6vw8xA" target="_blank">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="instagram" href="http://instagram.com/ghettoartasso/" target="_blank">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row center partnership" id="partnership">
            <a href="http://www.paysdelaloire.fr/" target="_blank"><img src="/images/partnership/pays_de_la_loire.png" /></a>
            <a href="https://www.creditmutuel.fr/groupe/fr/index.html" target="_blank"><img src="/images/partnership/credit_mutuel.png" /></a>
            <a href="http://starwaxmag.com/" target="_blank"><img src="/images/partnership/starwax.png" /></a>
            <a href="http://www.atelierdesinitiatives.org/" target="_blank"><img src="/images/partnership/adi.png" /></a>
            <a href="http://www.pulsomatic.com/" target="_blank"><img src="/images/partnership/pulsomatic.png" /></a>
            <a href="http://www.vlipp.fr/" target="_blank"><img src="/images/partnership/vlipp.png" /></a>
            <a href="http://www.prun.net/" target="_blank"><img src="/images/partnership/prun.png" /></a>
            <a href="http://ibisstyleshotel.ibis.com/fr/france/index.shtml" target="_blank"><img src="/images/partnership/ibis.png" /></a>
            <a href="http://ibisbudgethotel.ibis.com/fr/france/index.shtml" target="_blank"><img src="/images/partnership/ibis_budget.png" /></a>
            <a href="http://leremorqueur-nantes.blogspot.fr/" target="_blank"><img src="/images/partnership/remorqueur.png" /></a>
            <a href="http://www.brasserie-du-bouffay.com/" target="_blank"><img src="/images/partnership/brasserie_bouffay.png" /></a>
        </div>
    </div>
</footer>
