<footer>
    <div class="container">
        <div class="row">
            <ul class="social">
                <li>
                    <a href="mailto:mayliss@ghetto-art-asso.com" target="_blank" title="Email">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="facebook" href="https://www.facebook.com/2440festival" target="_blank" title="Facebook">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="twitter" href="https://twitter.com/2440Festival" target="_blank" title="Twitter">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="youtube" href="https://www.youtube.com/channel/UC9ovWD9FyTKA2D-fT6vw8xA" target="_blank" title="YouTube">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="instagram" href="http://instagram.com/ghettoartasso/" target="_blank" title="Instagram">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#credits" data-toggle="modal" title="Crédits">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        <article id="credits" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h2 class="modal-title">Crédits</h2>
                    </div>

                    <div class="modal-body center">
                        <a href="http://ghetto-art-asso.com" target="_blank"><img src="/images/ghetto.png" title="Ghetto Art" /></a>
                        <p class="center">2440 Festival est un événement organisé par l'association <a href="http://ghetto-art-asso.com" target="_blank">Ghetto Art</a></p>

                        <p class="center">
                            Licence n°2 : 2-1080634<br />
                            Licence n°3 : 3-1080657
                        </p>

                        <p class="center">
                            <b>Conception du site internet</b><br />
                            Gildas Quéméner // <a href="http://twitter.com/GildasQ" target="_blank">Twitter</a>
                        </p>

                        <p class="center">
                            <b>Graphisme</b><br />
                            Vincent Subréchicot // <a href="http://vinsub.fr" target="_blank">http://vinsub.fr</a>
                        </p>

                        <p class="center">
                            <b>Crédits photos</b><br />
                            Mathilda Nex
                        </p>
                    </div>

                </div>
            </div>
        </article>

        <div class="row center partnership" id="partnership">
            <h1>Partenaires</h1>
            <a href="http://www.paysdelaloire.fr/" target="_blank"><img src="/images/partnership/pays_de_la_loire.png" /></a>
            <a href="https://www.creditmutuel.fr/groupe/fr/index.html" target="_blank"><img src="/images/partnership/credit_mutuel.png" /></a>
            <a href="http://starwaxmag.com/" target="_blank"><img src="/images/partnership/starwax.png" /></a>
            <a href="http://www.atelierdesinitiatives.org/" target="_blank"><img src="/images/partnership/adi.png" /></a>
            <a href="http://www.pulsomatic.com/" target="_blank"><img src="/images/partnership/pulsomatic.png" /></a>
            <a href="http://www.vlipp.fr/" target="_blank"><img src="/images/partnership/vlipp.png" /></a>
            <a href="http://www.lehautparleur.com/" target="_blank"><img src="/images/partnership/haut_parleur.png" /></a>
            <a href="http://www.prun.net/" target="_blank"><img src="/images/partnership/prun.png" /></a>
            <a href="http://ibisstyleshotel.ibis.com/fr/france/index.shtml" target="_blank"><img src="/images/partnership/ibis.png" /></a>
            <a href="http://ibisbudgethotel.ibis.com/fr/france/index.shtml" target="_blank"><img src="/images/partnership/ibis_budget.png" /></a>
            <a href="http://leremorqueur-nantes.blogspot.fr/" target="_blank"><img src="/images/partnership/remorqueur.png" /></a>
            <a href="http://www.brasserie-du-bouffay.com/" target="_blank"><img src="/images/partnership/brasserie_bouffay.png" /></a>
        </div>
    </div>
</footer>
