<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            {% for node in site.pages %}
                {% if node.anchors %}
                    <li class="{% if page.url == node.url %}active {% endif %}dropdown">
                        <a href="{{ node.url }}" class="dropdown-toggle" data-toggle="dropdown">
                            {{ node.title }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% for anchor in node.anchors %}
                                <li><a href="{{ node.url }}#{{ anchor.name }}">{{ anchor.label }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li{% if page.url == node.url %} class="active"{% endif %}><a href="{{ node.url }}">{{ node.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
