<div id="home">
    <img class="logo" src="images/logo.png" alt="2440 Festival"/>
    <h1>Anticipation et Cultures Électroniques</h1>
    <h2>15, 16 Mai 2015</h2>

    <div class="down">
        <a href="#intro" class="btn btn-link btn-lg" data-scroll data-options='{"offset": 50}'>
            <i class="fa fa-angle-down fa-3x"></i>
        </a>
    </div>
</div>

<div id="intro">
    <h1 class="center">Le Concept</h1>
    <p class="container">
        Le 2440 Festival, c'est un nouveau rendez-vous pour les amateurs de musiques électroniques et d'arts numériques. Projeté en l'an 2440, le spectateur voyage dans un univers d'anticipation, navigue entre concerts électro et animations rétro-futuristes dans un décor et une scénographie unique en France.<br />
Les 15 & 16 mai 2015, Ghetto Art vous invite au 2440 festival, un événement original et festif placé sous le signe de la découverte !
    </p>
</div>
