<div id="home">
    <img class="logo" src="images/logo.png" alt="2440 Festival"/>
    <h1>Festival de Musiques Électroniques<br />et d'Arts Numériques</h1>
    <h2>15, 16 Mai 2015</h2>


    <div class="down">
        <a href="#intro" class="btn btn-link btn-lg" data-scroll>
            <i class="fa fa-angle-down fa-3x"></i>
        </a>
    </div>
</div>

<div id="intro">
    <h1>L'Histoire</h1>
    <p>
        L’an 2440.<br />
        Les changements climatiques, les catastrophes environnementales, les guerres bactériologiques et nano-technologiques ont profondément changé la face du monde.<br />
    </p>
    <p>
        D’un coté, de vastes zones désertées, polluées, hostiles, couvrant une majeure partie de la planète. La nature y reprend ses droits ; les anciennes civilisations, en ruines, envahies par la végétation, disparaissent peu à peu sous le poids du temps. Seuls quelques groupes nomades technophobes tentent de s’adapter et de reprendre une vie proche de la nature.
    </p>
    <p>
        De l’autre, un réseau de cités autonomes, robotisées, sécurisées, régies par des intelligences artificielles. Sauvée par ses innovations technologiques, l’humanité y a reproduit les inégalités de toujours. Quelques grandes familles de nantis règnent sans partage sur l’économie de la cité pendant qu’une population cosmopolite - humains, cyborgs, robots,  transhumains, mutants… - vivote et trafique dans un formidable foisonnement culturel et sociétal.
    </p>
</div>
