<div id="prog">
    <div class="container">
        <h1 align="center">Programmation</h1>
        {% assign fridays = site.artists | where: "date", "Vendredi" | sort: "hour", "first" %}
        {% assign saturdays = site.artists | where: "date", "Samedi" | sort: "hour", "first" %}

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h2>Vendredi</h2>
                {% for artist in fridays %}
                    {% include _artist.html %}
                {% endfor %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h2>Samedi</h2>
                {% for artist in saturdays %}
                    {% include _artist.html %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
