<div id="tickets">
    <div class="container">
        <h1 align="center">Billetterie</h1>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <span class="fa-stack fa-5x ticket pull-left">
                    <i class="fa fa-ticket fa-stack-2x"></i>
                    <i class="fa-stack-1x">1 jour</i>
                </span>
                <h2>21,00&nbsp;€</h2>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 christmas">
                <h2 class="visible-xs">Offre Noël & nouvel An "Early Bird"</h2>
                <span class="fa-stack fa-5x ticket pull-left">
                    <i class="fa fa-ticket fa-stack-2x"></i>
                    <i class="fa-stack-1x">2 jours</i>
                </span>
                <h2 class="visible-xs"><strike>37,00&nbsp;€</strike> 25,00&nbsp;€</h2>
                <h2 class="visible-sm visible-md visible-lg">25,00&nbsp;€ (au lieu de 37,00&nbsp;€)</h2>
                <h2 class="visible-sm visible-md visible-lg">Offre Noël & nouvel An "Early Bird"</h2>
                <h3>100 pass dispos jusqu'au 20&nbsp;janvier&nbsp;2015</h3>
            </div>
        </div>

        <div class="row artist">
            <a class="btn btn-primary btn-lg btn-x-lg" href="#electronic-ticket" data-toggle="modal">
                <i class="fa fa-shopping-cart"></i> Billet électronique</a>
            </li>
        </div>
    </div>
</div>

<article id="electronic-ticket" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Billet électronique</h4>
            </div>
            <div class="modal-body">
                <iframe src="https://www.weezevent.com/widget_multi.php?37003.3.1" width="550" height="450" scrolling="auto" frameborder="0" id="weezmulti"></iframe><script type="text/javascript" src="https://www.weezevent.com/js/multi/multi.js"></script>
            </div>
        </div>
    </div>
</article>
