---
layout: default
title: Programmation
---
{% for day in site.artists | group_by: "date" %}

    <div class="row">
        <h2>{{ day.name }}</h2>
    </div>

    <div class="row">
        {% for artist in day.items %}
            <div class="col-md-4 artist stage-{{ artist.stage }}">
                <a href="{{ artist.url }}">
                <img src="http://placehold.it/140x140" class="img-circle" /><br />
                {{ artist.name }}
                </a>
            </div>
        {% endfor %}
    </div>

{% endfor %}

    <div class="row">
        <span class="stage-1">Scène 1</span><br />
<span class="stage-2">Scène 2</span>
    </div>
    <div class="row">
        {% for artist in site.artists %}
            <div class="col-md-4 artist ">
                <span class="stage-{{ artist.stage }}">
                    <a href="{{ artist.url }}">
                    <img src="http://placehold.it/140x140" class="img-circle" /><br />
                    {{ artist.name }}
                    </a>
                </span>
            </div>
        {% endfor %}
    </div>
